<h4>Patient Batch Imports</h4>
<hr/>
<ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" [items]="(importJbos$ | async) ?? []"
        activePage="1" pagination [itemsPerPage]="props.itemsPerPage"
        (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
        [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true , small:true }"
        [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
        [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
        (sorterValueChange)="handleSorterValueChange($event)" header>
        <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
            <td>
                <ng-container [ngSwitch]="columnName">
                    <ng-container *ngSwitchCase="'createdAt'" class="py-2">
                        {{item.createdAt | date:"MM/dd/yyyy 'at' hh:mm:ss a" }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'completedAt'" class="py-2">
                        {{item.completedAt | date:"MM/dd/yyyy 'at' hh:mm:ss a" }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'status'" class="py-2">
                        <c-badge [color]="getBadge(tdContent)">
                            {{(item[columnName])}}
                        </c-badge>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{tdContent}}
                    </ng-container>
                </ng-container>
            </td>
        </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
        (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>

